body {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 6rem;
    font-family: 'Comic Sans MS', cursive;
}

.header{
    display: flex;
    position: absolute;
    top: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.card h1 {
    font-size: 100px;
}

